.intro {
    text-align: left;
    color: black;
    position: absolute;
    top: 15%;
    left: 10%;
    font-family: 'Roboto Slab', serif;

}

.nav-font {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    margin: 5px;
    color: #ff4000;

}

.nav-font:hover {
    font-size: 35px;
    font: bolder;
    margin: 6px;
    padding: 5px;
    border: 1px;
    background-color: #ff4000;
    color: white;
}

.question {
    font-size: 35px;
    font: bolder;
    margin: 6px;
    padding: 5px;
    border: 1px;
    background-color: #ff4000;
    color: white;

}

.goal_button {

    background-color: #262626;
    color: #ff4000;
    border: 1px;
    border-radius: 4px;
    padding: 16px 32px;
    text-align: center;
    font-size: 35px;

}

.goal_button:hover {
    font-size: 45px;
    font: bolder;

}

.done_button {

    background-color: #262626;
    color: #009900;
    border: 1px;
    border-radius: 4px;
    padding: 16px 32px;
    text-align: center;
    font-size: 35px;
}

.done_button:hover {
    font-size: 45px;
    font: bolder;

}

.inprogress {
    height: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: white;
    background-color: black;
    padding: 20px;
    position: relative;
    margin-right: 100px;
    margin-left: 100px;


}

.inprogress_goals {
    text-align: center;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: white;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 2px;
    background-color: #262626;
    padding: 30px;



}


.goal_form {
    text-align: center;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    margin-right: 120px;
    margin-left: 120px;
    background-color: #ffece6;
    padding: 50px;
    color: black;



}



.climber_image {
    height: 90px;
    width: 90px;
    position: absolute;
    top: 15px;
    left: 16px;
    font-size: 18px;

}

.newgoal {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    background-color: #ff4000;
    color: white;
    float: top-right;
    border: 1px;
    position: absolute;
    top: 40px;
    right: 16px;

}

.newstep {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    background-color: #ff4000;
    color: white;
    border: 1px;
    position: absolute;
 

}
.italic {
    font-style: italic;
}


.form {
    color: white;
}

h3 {
    text-align: center;
    font: bolder;
}

body {

    background-color: black;

}

.tick {
    list-style-image: url('/static/images/donesymbol.png');
}

.btn {
    border-radius: 40px;

}



.logo {
    font-family: 'Fredoka One', cursive;
    margin-left: 10px;
    margin-top: 10px;
    color: #ff4000;
    font-size: 45px;
}




@media (max-width: 767px) {
    .intro {
        top: 15%;
        left: 7%;
        font-size: 13px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .intro {
        top: 15%;
        left: 2%;
        font-size: 30px;
    }
}

@media (min-width: 992px) {
    .intro {
        top: 25%;
        left: 7%;
        font-size: 40px;
    }
}

.accomplishment {
    height: 200px;
    width: 100%;
    overflow: hidden;
}


.goals_div {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: white;
    text-align: center;
}

.goals {
    text-align: left;
    margin-left: 20;
}


.nav-wrapper {
    background-color: white;
    color: #ff4000;

}

nav {
    height: 80px;

}


.card_size {
    width: 25%;
    float: left;
    padding: 5px;
}


.btn {
    background-color: #ff4000;

}

.small-img {
    width: 180px;
    height: 180px;
    border-radius: 8px;


}

.category-label {
    width: 240px;
    height: 240px;
    position: relative;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: white;
}

.category-title {
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: white;
}
