p {
    font-size: 2em;

}

.heading {
    padding: 2%;
    font-size: 2.5em;
    text-align: center;
    font-weight: 300;

}

.add_category {

    /*background-color: transparent;*/
    position: absolute;

    margin-left: 20%;
    padding: 70px;
    top: 5%;
    width: 60%;

    float: left;
    background-color: white;
}

.intro {
    text-align: left;
    color: black;
    position: absolute;
    top: 15%;
    left: 10%;
    /*font-family: 'Roboto Slab', serif;*/
}




.center {
    text-align: center;
    /*margin-left: 70px;*/
    
}

.continue {
    font-size: 25px;
    font: bolder;
    margin: 6px;
    padding: 5px;
    border: 1px solid black;
    background-color: transparent;
    color: black;

}

p {
    font-size: 25px;
}

.absolute {
    position: absolute;
    top: 50px;
    width: 100%;
    font-size: 30px;
    margin-left: 15%;
    text-align: center;
}


.tagline_position {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    font-size: 1.5em;

}


.overview_position {
    position: absolute;
    top: 5%;
    width: 100%;

}


.overview {
    position: absolute;
    top: 250px;
    width: 100%;
}





.not_complete {
    background-color: black;

}

.complete {
    background-color: #262626;
}



.nav-font {
    /*font-family: 'Roboto Slab', serif;*/
    font-size: 20px;
    /*margin: 5px;*/
    color: black;
    /*color: #ff4000;*/
}

.row {
    padding-top: 1rem;
}

.nav-font:hover {
    font-size: 25px;
    font: bolder;
    background-color: white;

}

.question {
    font-size: 35px;
    font: bolder;
    margin: 6px;
    padding: 5px;
    border: 1px;
    background-color: #ff4000;
    color: white;

}

.orange_font {

    color: #ff4000;

}

.center {
    text-align: center;
    margin-left: 0px;
}


.goal_button {

    background-color: #262626;
    color: #ff4000;
    border: 1px;
    border-radius: 4px;
    padding: 16px 32px;
    text-align: center;
    font-size: 35px;

}

.goal_button:hover {
    font-size: 45px;
    font: bolder;

}

.done_button {

    background-color: #262626;
    color: #009900;
    border: 1px;
    border-radius: 4px;
    padding: 16px 32px;
    text-align: center;
    font-size: 35px;
}

.done_button:hover {
    font-size: 45px;
    font: bolder;

}

.arrow {

    position: absolute;
    top: 2%;
    /*left: 15%;*/
    margin: 4%;
    text-align: center;
    animation: jump 5s infinite;
}

.tagline {
    font-size: 2em;
    /*left: 10%;*/
}

.font_awesome {
    /*color: #ff4000;*/
    color: black;
}



.vector_img {
    /*padding-bottom: 5%;*/
    border-radius: 50%;
}

h2 {
    text-align: center;
}

#goals {
    background-color: white;
    padding-top: 1rem!important;
    text-align: center;
}

.current_goal {

    color: black;
    background-color: transparent;
    line-height: 2;
    /*font-family: "Roboto", sans-serif;*/
}

.current_goal:hover {
    font-size: 30px;

}

.row {
    padding-top: 3rem;

}


.form {
    background-color: white;
}

/*.col {*/

/*    padding: 3rem!important;*/

/*margin-left: 20%!important;*/

/*}*/

.goal_detail {
    position: absolute;
    margin-left: 0%;
    padding: 70px;
    top: 0%;
    width: 60%;

    float: left;
    background-color: white;
}

.goal_img {

    background-attachment: fixed;
    background-image: url("../images/goal_img4.jpg");
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

.step_img {

    background-attachment: fixed;
    background-image: url("../images/step.jpg");
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

.step_form {
    position: absolute;
    left: 5%;
    top: 15%;
}

.goal_detail_img {
    background-attachment: fixed;
    background-image: url("../images/mountain.jpg");
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;

}


.goal_detail_paragraph {
    font-size: 1.5em;

}

.goal_name {
    font-size: 2.5em;
    text-align: center;
    font-weight: 300;

    margin-top: 10%;
    padding-bottom: 15px;
    /*text-shadow: 2px 4px 3px #ff4000;*/
}


.categories_img {
    background-attachment: fixed;
    background-image: url("../images/categories.jpg");
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;

}


body {
    background-color: #e6e6e6;
    font-family: "Roboto", sans-serif;


}

.container .row {
    margin-left: -3.55rem;
    margin-right: -3.55rem;
    /*background-color:white;*/
    margin-top: 2rem;
}

.reasons_for_goal_getter {

    font-size: 20px;
    text-align: center;
    padding: 10px;
    padding-top: 0px;
}

.reasons_paragraph {
    padding-top: 5px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    margin: 10px;
    font-size: 1em;

}

.collapsible-header {
    background-color: #e6e6e6;
    color: black;
    /*font-family: 'Roboto Slab', serif;*/
    font-size: 20px;
    padding: 0px;
}

.collapsible-body {
    color: white;
}



body {
    /*font-family: 'Roboto Slab', serif;*/
}

.goal_form {

    height: 100%;
    /*font-family: 'Roboto Slab', serif;*/
    font-size: 25px;
    margin-right: 120px;
    margin-left: 120px;
    background-color: #ffece6;
    padding: 50px;
    color: black;



}



.climber_image {
    height: 90px;
    width: 90px;
    position: absolute;
    top: 15px;
    left: 16px;
    font-size: 18px;

}

.newgoal {
    /*font-family: 'Roboto Slab', serif;*/
    font-size: 1.5em;
    /*background-color: #ff4000;*/
    color: black;
    /*float: top-right;*/
    /*border: 1px;*/
    border: none;
    position: absolute;
    top: 15%;
    right: 20px;

}

.new_goal_button_on_form {
    /*font-family: 'Roboto Slab', serif;*/
    font-size: 30px;
    background-color: #ff4000;
    color: white;
    border: 1px;
    position: absolute;

}


.mark_done {

    /*font-family: 'Roboto Slab', serif;*/
    font-size: 15px;
    padding: 5px;
    background-color: black;
    color: #FF6C39;
    border: 1px;

}

.mark_done:hover {

    opacity: 0.8;


}

.addstep {
    /*font-family: 'Roboto Slab', serif;*/
    font-size: 15px;
    padding: 5px;
    background-color: black;
    color: #FF6C39;
    border: 1px;
}

.addstep:hover {
    opacity: 0.8;

}


.tick {
    /*float: right;*/
    /*float: left;*/
    left: 10%;
}

.job_title {

    font-size: 25px;

    border-radius: 1px;
    color: #ff4000;

}


.goal_status {

    font-style: italic;



}


.job_title:hover {
    /*font-family: 'Roboto Slab', serif;*/
    font-size: 30px;
    font: bolder;


}


.form {
    color: white;
}

h3 {
    text-align: center;
    font: bolder;
}



.tick {
    list-style-image: url('/static/images/donesymbol.png');
}



.logo {
    font-family: 'Fredoka One', cursive;
    margin-left: 10px;
    margin-top: 10px;
    /*color: #ff4000;*/
    font-size: 25px;
    color: black;
}

nav a {
    color: #ff4000;
}

button {
    border: none;
    background-color: transparent;
}

.link {
    color: black;
    font-style: italic;
}

.link:hover {
    font-size: 1.2em;

}


.active {
    color: #ff4000 !important;
}



@media (max-width: 767px) {
    .intro {
        top: 15%;
        left: 7%;
        font-size: 13px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .intro {
        top: 15%;
        left: 2%;
        font-size: 30px;
    }
}

@media (min-width: 992px) {
    .intro {
        top: 25%;
        left: 7%;
        font-size: 40px;
    }
}

.accomplishment {
    height: 200px;
    width: 100%;
    overflow: hidden;
}


.goals_div {
    /*font-family: 'Roboto Slab', serif;*/
    font-size: 25px;
    color: white;
    text-align: center;
}

.goals {
    text-align: left;
    margin-left: 20;
}


.nav-wrapper {
    background-color: white;
    color: #ff4000;

}

/*nav {*/

/*    height: 80px;*/

/*}*/

.card_size {
    width: 25%;
    float: left;
    padding: 5px;
}


.btn {
    background-color: #ff4000;

}

.small-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;


}

.category-label {
    width: 240px;
    height: 240px;
    position: relative;
    display: inline-block;
    /*font-family: 'Roboto Slab', serif;*/
    font-size: 25px;
    color: white;
}

.category-title {
    font-weight: bold;
    text-align: center;
    /*font-family: 'Roboto Slab', serif;*/
    font-size: 25px;
    color: black;
}


/*------------------------------Goal Detail Page---------------------------------------------*/

/*------------------------------------------------------------------------------------------------*/

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid red;
    -webkit-box-shadow: 0 1px 0 0 red;
    box-shadow: 0 1px 0 0 red;
}

.modal {
    position: absolute;
    top: 26%;
    overflow: hidden;
    height: auto;
    width: 70%;
    /*height: 40%;*/
}

.modal_img {
    background-attachment: fixed;
    background-image: url("../images/modal.jpg");
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    height: 100vw;
    width: 100vw;
    margin-bottom: 0px;

    z-index: 1;
    background-repeat: no-repeat;

}


.modal_img_2 {

    width: 100%;
    height: 100%;
    overerflow: auto;
    margin: 0 auto;


}

.no_padding {
    padding: 0px!important;
    margin: 0px!important;

}

/*.row .col.s6 {*/

/*    margin-left: 50px;*/

/*}*/

.row .col {


    padding: 0px!important;
    margin: 0px!important;


}

.close_modal {
    position: absolute;
    bottom: 2%;
    right: 2%;
}


/*.row .col.s6 {*/

/*    width: 50%;*/

/*    margin-left: 50px;*/

/*    left: auto;*/

/*    right: auto;*/

/*}*/

.modal .modal-content {
    padding: 0px;
}
