<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <title>Document</title>
</head>

<body>
    <header>

        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{{ url_for('add_goal') }}">Add Goal</a></li>
            <li><a href="{{ url_for('get_goals') }}">View Goals</a></li>

        </ul>
        <ul id="dropdown2" class="dropdown-content">
            <li><a href="/categories">Add Category</a></li>
        </ul>
        <ul id="dropdown3" class="dropdown-content">
            <li><a href="{{ url_for('progress_page') }}">Current progress</a></li>

        </ul>

        <nav>
            <div class="nav-wrapper">
                <a class="logo hide-on-small-only" href="{{ url_for('overview_page') }}"> Goal Keeper </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Check Your Progress<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Goals<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </nav>

        <ul class="side-nav" id="mobile-demo">

            <li><a class="nav-font" href="{{ url_for('add_goal') }}">Add Goal</a></li>
            <li><a class="nav-font" href="{{ url_for('get_goals') }}">View Goals</a></li>
            <li><a class="nav-font" href="/categories">Add Category</a></li>
            <li><a class="nav-font" href="{{ url_for('progress_page') }}">Current progress</a></li>
        </ul>

    </header>


    <div>
        {% block content %} {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $(".dropdown-button").dropdown();
            $('#exampleModalCenter').modal('open');
        });

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
        $(".delete_task_btn").click(function() {
            $('#hidden-task-id').attr('value', $(this).data("taskid"));
        });

        $('.modal').modal();
    </script>




</body>

</html>
