{% extends 'base.html' %} {% block content %}

<div class="inprogress">
    <h3>{{ category }}</h3> <a href="/add_goal"><button class="newgoal">  Add Goal </button></a>
</div>





<div class="inprogress_goals">

    {% for category in categories %}
    <a href="{{ url_for ('get_goals_by_category', category=category.category_name) }}">
        <div class="category-label"><img class="small-img" src="{{category.image}}">
            <p class="category-title">{{ category.category_name }}</p>
        </div>
    </a> {% endfor %} {% for goal in goals %}


</div>

<div class="inprogress">
    <p class="italic"> Select goal for more details </p>
    <p>
        <a href="{{url_for('goal_details', category=goal.category_name, goal_id=goal._id)}}" class="nav-font">{{goal.goal_name}}</a>
    </p>

</div>


<br> {% endfor %} {% endblock %}
