{% extends 'base.html' %} {% block content %}

<div class="inprogress">
    <h3> {{ goal.goal_name }} </h3>
</div>

<div class="inprogress_goals">
    <p class="question"> Category </p>
    <p>{{ goal.category_name }}</p>
    </br>
    <p class="italic">{{ goal.status }}</p>
    </br>
    <p class="question"> Why do I want to achieve this goal?</p>
    <p> {{ goal.goal_reasons }}</p>
    </br>
    <p class="question"> Steps </p>

    {%for step in goal.steps%}
    <p>{{step.name}} - {{step.is_done}}</p>

    {% if step.is_done %}

    <form method="POST" action="{{ url_for('mark_not_done', category=goal.category_name, goal_id=goal._id, step_id=step._id)  }}">
        <input class="delete_goal_btn waves-effect waves-light btn btn_small" type="Submit" value="Mark as Not Done">
    </form>

    {% else %}

    <form method="POST" action="{{ url_for('mark_done', category=goal.category_name, goal_id=goal._id, step_id=step._id)  }}">
        <input class="delete_goal_btn waves-effect waves-light btn btn_small" type="Submit" value="Mark as Done">
    </form>


    {% endif %} {%endfor%}

    <p><a href="{{url_for('add_step', category=goal.category_name, goal_id=goal._id)}}">Add a Step</a></p>
</div>
{% endblock %}
