<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <title>Document</title>
</head>

<body>


    <img class="responsive-img" src="{{url_for('static', filename='images/goal_home_image.jpg')}}">


    <div class="row intro">
        <div class="col m5 l7 hide-on-small-only">Start achieving your goals today. <div class = "tagline">Goal Track helps make the process of setting and tracking your goals simple. Create plans, track progress, get results! </div><a class="continue" href="{{url_for('overview_page')}}"> Continue <i class="material-icons">arrow_forward</i></a></div>
    </div>

</body>

</html>
