<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1> Goal App </h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente non quis sint voluptates magnam aliquam nesciunt quisquam reprehenderit id provident animi, ipsa hic officia, quod magni! Ex voluptatibus, vel? Quo, impedit suscipit enim, et aliquid
        repellendus, consequuntur nobis vero ad facilis obcaecati. Quaerat eos eius iusto, autem natus at magni.</p>
    <button href="{{url_for('get_goals')}}"> Continue </button>

</body>

</html>
