{% extends 'base.html' %} {% block content %}


<div class="inprogress">
    <h3> Goals in Progress </h3> <img class="climber_image" src="{{url_for('static', filename='images/climber.png')}}">
</div>
{% for goal in unfinished %}
<div class="inprogress_goals">
    <p><span><a class = "goal_button" href="{{url_for('goal_details', category=goal.category_name, goal_id=goal._id)}}">{{ goal.goal_name }}</a></span><br/><span>{{ goal.status }}</span></p>
</div>
{%endfor%}

</div>

<div class="inprogress">
    <h3> Completed Goals </h3>
</div>

<div class="inprogress_goals"><a class="done_button" href="#"> Run a marathon: </a><br/>
    <p>Completed on 31 December 2018 Save 10k - completed on 31 November 2018</p>
</div>
<div class="inprogress_goals"><a class="done_button" href="#"> Run a marathon: </a><br/>
    <p>Completed on 31 December 2018 Save 10k - completed on 31 November 2018</p>
</div>
<div class="inprogress_goals"><a class="done_button" href="#"> Run a marathon: </a><br/>
    <p>Completed on 31 December 2018 Save 10k - completed on 31 November 2018</p>
</div>



{% endblock %}
