{ % extends 'base.html' % } { % block content % }

<div class="goal_img"></div>


<div class="arrow"><i class="fas fa-chevron-down"></i></div>





<span class="overview_img_div"><img class="goal_img" src="{{url_for('static', filename='images/goal_detail2.jpg')}}"></span>
<div class="row tagline_position">
 <div class="col s4"></div>
 <div class="col s8">
 <div><i>Great plans made. Great things achieved.</i><br>Simply record your goals in the goal section and track your progress below.</div>
 </div>
</div>
<div class="row overview_position">
 <div class="col s4"></div>
 <div class="col s4 inprogress_goals">
 <div class="goal_name">Current goals</div>
 <hr> {
    % for goal in unfinished %
}

-->
 <a href="{{url_for('goal_details', category=goal.category_name, goal_id=goal._id)}}" class="current_goal"> {
        {
        goal.goal_name
    }
}

</a>-->
 <div class="goal_descritpion">
 <b> {
        {
        goal.status
    }
}

!</b>-->
 <br>Mark a step complete<a href="{{url_for('goal_details', category=goal.category_name, goal_id=goal._id)}}" class="link">here</a>
 <hr>
 </div> {
    %endfor%
}

-->
 </div>
 <div class="col s4 inprogress_goals">
 <div class="goal_name">Completed goals</div>
 {
    % for goal in finished %
}

-->
 <a href="{{url_for('goal_details', category=goal.category_name, goal_id=goal._id)}}" class="current_goal"> {
        {
        goal.goal_name
    }
}

</a><img src="{{ url_for('static', filename='images/donesymbol.png')}}">-->
 <hr> {
    %endfor%
}

-->
 </div>
</div>
 <div class="col s5 offset-s1 inprogress_goals ">
 <div class="goal_name">Your completed goals</div>
 {
    % for goal in finished %
}

-->
 <a href="{{url_for('goal_details', category=goal.category_name, goal_id=goal._id)}}" class="current_goal"> {
        {
        goal.goal_name
    }
}

</a><img src="{{ url_for('static', filename='images/donesymbol.png')}}">-->
 <hr>
 </div> {
    %endfor%
}

-->
</div>
<div class="row overview">
 <div class="col s3">
 <ul class="collapsible">
 <li>
 <div class="collapsible-header">
 <p class="center">Your current goals<br><i class="material-icons">expand_more</i></p>
 </div>
 <div class="not_complete collapsible-body">
 {
    % for goal in unfinished %
}

-->
 <div>
 <a href="{{url_for('goal_details', category=goal.category_name, goal_id=goal._id)}}" class="job_title"> {
        {
        goal.goal_name
    }
}

</a>-->
 <p class="goal_status"> {
        {
        goal.status
    }
}

</p>-->
 <p>Mark a step complete<a href="{{url_for('goal_details', category=goal.category_name, goal_id=goal._id)}}" class="link">here</a></p>
 </div>
 <hr> {
    %endfor%
}

-->
 </div>
 </li>
 </ul>
 </div>
<div class="col s3">
 <ul class="collapsible">
 <li>
 <div class="heading collapsible-header">
 <p class="center">Your completed goals<br><i class="material-icons">expand_more</i></p>
 </div>
 <div class="not_complete collapsible-body">
 {
    % for goal in finished %
}

-->
 <div class="outline">
 <a href="{{url_for('goal_details', category=goal.category_name, goal_id=goal._id)}}" class="job_title"> {
        {
        goal.goal_name
    }
}

</a><img src="{{ url_for('static', filename='images/donesymbol.png')}}">-->
 </div>
 {
    %endfor%
}

-->
 </div>
</div>
</div>-->{ % endblock % }
